@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-image: linear-gradient(#a40deb, #b1afaf);
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;
}
*{
	margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}
.main{
	background-color: white;
	height: auto;
	width: 650px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 60%;
}
.left{
	background-color: #5e3bfb;
	width: 200px;
	height: 100%;
	float: left;
}
.right{
	width: 450px;
	float: left;
}
.profile-img{
	height: 160px;
	width: 160px;
	background-color: #ddd;
	border-radius: 70%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 5px solid #ddd;
	box-shadow: 6px 7px 9px 5px #4d4d4d;
}
.profile-img img{
	width: 100%;
	border-radius: 100%;
}
.box-1{
	position: relative;
}
.heading{
	background-color: #4d4d4d;
	padding: 10px;
	color: #f0efee;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}
.heading::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
}
.p1{
	padding: 9px 10px;
	font-size: 11px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}
.html{
	width: 60%;
	background-color: white;
}
.css{
	width: 50%;
	background-color: white;
}
.js{
	width: 35%;
	background-color: white;
}
.jquery{
	width: 40%;
	background-color: white;
}
.web {
	width: 65%;
	background-color: white;
}
.gra{
	width: 60%;
	background-color: white;
}
.icons2{
	padding: 18px 10px;
}
.name-div{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}
.name-div h1{
	margin-bottom: 10px;
}
.box-2{
	padding: 0px 50px;
	margin-top: 30px;
}
.p2{
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}
h2{
	font-size: 16px;
	margin-bottom: 15px;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
.p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.p3 span{
	color:#5e3bfb; padding-left: 20px;
}